<form action="/api/login" method="POST">
    </p><p><input type="text" name="username" placeholder="ldap username" /></p>
    </p><input type="password" name="password" placeholder="password" /></p>
    <input type="submit" value="Login" />
</form>